@font-face {
  font-family: "Cartoon Fun";
  src: url(../assets/Cartoon\ Fun/Cartoon\ Fun.ttf);
}

body {
  font-family: "Cartoon Fun";
}

.wavy-box {
  border-radius: 50px;
}

.sharp-box {
  border-radius: 50px;
}
