@font-face {
  font-family: "Cartoon Fun";
  src: url(../assets/Cartoon\ Fun/Cartoon\ Fun.ttf);
}

body {
  font-family: "Cartoon Fun";
}

.wavy-box {
  border-radius: 50px;
}

.sharp-box {
  border-radius: 50px;
}

/* HTML: <div class="corner-only"></div> */
.corner-only {
  --s: 50px; /* size of the corners */
  border: 8px solid rgb(46, 101, 38);
  padding: 10px;
  background: content-box;
  mask: conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}

.box {
  width: 40px;
  aspect-ratio: 1;
  clip-path: polygon(
    100% 50%,
    74.27% 67.63%,
    65.45% 97.55%,
    40.73% 78.53%,
    9.55% 79.39%,
    20% 50%,
    9.55% 20.61%,
    40.73% 21.47%,
    65.45% 2.45%,
    74.27% 32.37%
  );
}
